<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <link href="/img/icons/777_64x64.png" rel="shortcut icon"/>
    <title>Lucky Seven</title>
    <link href="/css/common.css" rel="stylesheet"/>
</head>
<body>
<div class="wrapper">
    <!-- 로그인하지 않은 사용자 또는 일반 회원용 사이드바 -->
    <div th:replace="~{fragments/sidebar :: sidebar}" sec:authorize="!hasRole('ADMIN')"></div>
    <!-- 관리자용 사이드바 -->
    <div th:replace="~{fragments/sidebar_adm :: sidebar}" sec:authorize="hasRole('ADMIN')"></div>
    <div class="main">
        <div th:replace="fragments/navbar :: navbar"></div>
        <!-- 본문이 들어올 자리 -->
        <div layout:fragment="content"></div>
        <div th:replace="fragments/footer :: footer"></div>
    </div>
</div>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/feather.min.js"></script>
<script src="/js/feather-replace.js"></script>
<script src="/js/common.js"></script>
<script src="/js/auth-check.js"></script>
</body>
</html>
