<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <link href="/css/helpdesk.css" rel="stylesheet"/>
    <title>Lucky Seven 팀원 소개 | Lucky Seven</title>
    <link href="https:///css?family=Roboto:400,700&amp;display=swap" rel="stylesheet"/>
</head>
<body>
<div class="team-gallery-container">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <div class="team-gallery-title">Lucky Seven 팀원</div>
    <div class="team-gallery-grid">
        <!-- 팀원 1 -->
        <div class="team-gallery-card">
            <img alt="HwangSlater" class="team-gallery-photo" src="/img/avatars/HwangSlater.png"/>
            <div class="team-gallery-name">문찬희</div>
            <div class="team-gallery-role">HwangSlater</div>
            <a class="team-gallery-github" href="https://github.com/HwangSlater" target="_blank">
                <i class="bi bi-github"></i>
                github.com/HwangSlater
            </a>
        </div>
        <!-- 팀원 2 -->
        <div class="team-gallery-card">
            <img alt="jy37414" class="team-gallery-photo" src="/img/avatars/jy37414.png"/>
            <div class="team-gallery-name">박준영</div>
            <div class="team-gallery-role">jy37414</div>
            <a class="team-gallery-github" href="https://github.com/jy37414" target="_blank">
                <i class="bi bi-github"></i>
                github.com/jy37414
            </a>
        </div>
        <!-- 팀원 3 -->
        <div class="team-gallery-card">
            <img alt="Kimsongbeen" class="team-gallery-photo" src="/img/avatars/Kimsongbeen.png"/>
            <div class="team-gallery-name">김송빈</div>
            <div class="team-gallery-role">Kimsongbeen</div>
            <a class="team-gallery-github" href="https://github.com/Kimsongbeen" target="_blank">
                <i class="bi bi-github"></i>
                github.com/Kimsongbeen
            </a>
        </div>
        <!-- 팀원 4 -->
        <div class="team-gallery-card">
            <img alt="once217" class="team-gallery-photo" src="/img/avatars/once217.jpg"/>
            <div class="team-gallery-name">강부식</div>
            <div class="team-gallery-role">once217</div>
            <a class="team-gallery-github" href="https://github.com/once217" target="_blank">
                <i class="bi bi-github"></i>
                github.com/once217
            </a>
        </div>
        <!-- 팀원 5 -->
        <div class="team-gallery-card">
            <img alt="Rayhke" class="team-gallery-photo" src="/img/avatars/Rayhke.png"/>
            <div class="team-gallery-name">이동현</div>
            <div class="team-gallery-role">Rayhke</div>
            <a class="team-gallery-github" href="https://github.com/Rayhke" target="_blank">
                <i class="bi bi-github"></i>
                github.com/Rayhke
            </a>
        </div>
        <!-- 팀원 6 -->
        <div class="team-gallery-card">
            <img alt="st120712" class="team-gallery-photo" src="/img/avatars/st120712.png"/>
            <div class="team-gallery-name">백동호</div>
            <div class="team-gallery-role">st120712</div>
            <a class="team-gallery-github" href="https://github.com/st120712" target="_blank">
                <i class="bi bi-github"></i>
                github.com/st120712
            </a>
        </div>
        <!-- 팀원 7 -->
        <div class="team-gallery-card">
            <img alt="youngchan0510" class="team-gallery-photo" src="/img/avatars/youngchan0510.png"/>
            <div class="team-gallery-name">송영찬</div>
            <div class="team-gallery-role">youngchan0510</div>
            <a class="team-gallery-github" href="https://github.com/youngchan0510" target="_blank">
                <i class="bi bi-github"></i>
                github.com/youngchan0510
            </a>
        </div>
    </div>
</div>
<script src="https://unpkg.com/feather-icons"></script>

<script src="/js/extracted/pages-helpdesk.extracted.js"></script>
</body>
</html>