<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <title>회원정보 수정 | Lucky Seven</title>
    <link href="/css/profile.css" rel="stylesheet"/>
    <link href="/css/profile-phone.css" rel="stylesheet"/>

    <script src="/js/feather.min.js"></script>
    <script src="/js/auth_eye.js"></script>
    <script src="/js/profile-phone-modal.js"></script>
    <script src="/js/sms-certification.js"></script>
    <script src="/js/profile-edit.js"></script>
</head>

<body>
<div layout:fragment="content">
    <div class="profile-wrapper">
        <div class="profile-card">
            <form class="profile-section" method="post" action="/edit-profile">
                <div class="profile-row">
                    <div class="profile-label">이메일</div>
                    <input type="email" class="profile-input" name="userEmail" th:value="${user.userEmail}" readonly>
                </div>
                <hr>
                <div class="profile-row">
                    <div class="profile-label">이름</div>
                    <input type="text" class="profile-input" name="userName" th:value="${user.userName}" readonly>
                </div>
                <hr>
                <div class="profile-row">
                    <div class="profile-label">부서</div>
                    <input type="text" class="profile-input" name="departmentId" th:value="${user.departmentId}"
                           readonly>
                </div>
                <hr>
                <div class="profile-row">
                    <div class="profile-label">휴대전화번호</div>
                    <div class="phone-row">
                        <input type="tel" class="profile-input" name="userPhone" id="userPhone"
                               th:value="${user.userPhone}" readonly>
                        <button type="button" id="openPhoneModal" class="cert-btn">휴대전화번호 변경</button>
                    </div>
                </div>
                <hr>
                <div class="profile-row">
                    <div class="profile-label">현재 비밀번호</div>
                    <div class="input-wrapper">
                        <input type="password" class="profile-input" name="currentPassword"
                               autocomplete="current-password" placeholder="현재 비밀번호를 입력하세요" required>
                        <span class="password-eye-container"></span>
                    </div>
                </div>
                <hr>
                <div class="profile-row">
                    <div class="profile-label">새 비밀번호</div>
                    <div class="input-wrapper">
                        <input type="password" class="profile-input" name="newPassword" autocomplete="new-password"
                               placeholder="새 비밀번호 (변경 시)">
                        <span class="password-eye-container"></span>
                    </div>
                </div>
                <hr>
                <div class="profile-row">
                    <div class="profile-label">비밀번호 확인</div>
                    <div class="input-wrapper">
                        <input type="password" class="profile-input" name="confirmPassword" autocomplete="new-password"
                               placeholder="비밀번호 확인">
                        <span class="password-eye-container"></span>
                    </div>
                </div>
                <div class="profile-alert">※ 수정이 불가능한 사항은 <b>관리자</b>에게 문의하세요.</div>
                <hr>
                <button type="submit" class="btn-block btn-save">저장</button>
                <a href="/profile" class="btn-block btn-cancel">취소</a>
            </form>

            <div id="phoneModal" class="modal">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <label style="margin-bottom:8px;">새 휴대전화번호</label>
                    <div class="modal-row">
                        <input type="tel" id="modalNewPhone" class="profile-input" placeholder="새 번호 입력">
                        <button type="button" id="modalSendSmsBtn" class="cert-btn">인증번호 발송</button>
                    </div>
                    <div class="modal-row">
                        <input type="text" id="modalCertCode" class="cert-input" placeholder="인증번호 입력">
                        <button type="button" id="modalCheckCertBtn" class="cert-btn">인증번호 확인</button>
                    </div>
                    <span id="modalSmsMsg" class="cert-message"></span>
                    <span id="modalCertMsg" class="cert-message"></span>
                    <button type="button" id="modalSavePhone" class="btn-block btn-save" disabled>변경</button>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>
