<nav class="sidebar" id="sidebar-user" th:fragment="sidebar_user">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="/dashboard">
            <img src="/img/logo/luckyseven_logo_fixed_bg.png" alt="Lucky Seven Logo">
        </a>
        <ul class="sidebar-nav">
            <li class="sidebar-item" th:classappend="${currentPath == '/dashboard'} ? 'active'">
                <a class="sidebar-link" href="/dashboard">
                    <i class="align-middle" data-feather="sliders"></i>
                    <span class="align-middle">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item" id="login-menu">
                <a class="sidebar-link" href="/sign-in">
                    <i class="align-middle" data-feather="log-in"></i>
                    <span class="align-middle">로그인</span>
                </a>
            </li>
            <li class="sidebar-item" id="mypage-menu" th:classappend="${currentPath == '/profile'} ? 'active'">
                <a class="sidebar-link" href="/profile">
                    <i class="align-middle" data-feather="user"></i>
                    <span class="align-middle">마이페이지</span>
                </a>
            </li>
            <li class="sidebar-item" id="management-parent"
                th:classappend="${currentPath.matches('/(server-room|power-usage|access-control|equipment|calamity)')} ? 'active'">
                <div class="sidebar-link">
                    <i class="align-middle" data-feather="file-text"></i>
                    <span class="align-middle">관리</span>
                </div>
                <ul class="sidebar-dropdown">
                    <li class="sidebar-item" th:classappend="${currentPath == '/server-room'} ? 'active'">
                        <a class="sidebar-link" href="/server-room">
                            <span class="align-middle">서버룸</span>
                        </a>
                    </li>
                    <li class="sidebar-item" th:classappend="${currentPath == '/power-usage'} ? 'active'">
                        <a class="sidebar-link" href="/power-usage">
                            <span class="align-middle">전력사용량</span>
                        </a>
                    </li>
                    <li class="sidebar-item" th:classappend="${currentPath == '/access-control'} ? 'active'">
                        <a class="sidebar-link" href="/access-control">
                            <span class="align-middle">출입제어</span>
                        </a>
                    </li>
                    <li class="sidebar-item" th:classappend="${currentPath == '/equipment'} ? 'active'">
                        <a class="sidebar-link" href="/equipment">
                            <span class="align-middle">장비</span>
                        </a>
                    </li>
                    <li class="sidebar-item" th:classappend="${currentPath == '/calamity'} ? 'active'">
                        <a class="sidebar-link" href="/calamity">
                            <span class="align-middle">화재/침수</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="sidebar-item" th:classappend="${currentPath == '/event'} ? 'active'">
                <a class="sidebar-link" href="/event">
                    <i class="align-middle" data-feather="bell"></i>
                    <span class="align-middle">이벤트 알림</span>
                </a>
            </li>
            <li class="sidebar-item"
                th:classappend="${currentPath == '/gateway' or currentPath == '/add-gateway'} ? ' active'">
                <a class="sidebar-link" href="/gateway">
                    <i class="align-middle" data-feather="hard-drive"></i>
                    <span class="align-middle">게이트웨이 추가</span>
                </a>
            </li>
            <li class="sidebar-item"
                th:classappend="${
                    currentPath.startsWith('/dashboard-info')
                    or currentPath.startsWith('/add-dashboard')
                    or currentPath.startsWith('/dashboard-detail')
                    or currentPath.startsWith('/dashboard-logs')
                } ? 'active'">
                <a class="sidebar-link" href="/dashboard-info">
                    <i class="align-middle" data-feather="trending-up"></i>
                    <span class="align-middle">대시보드 추가</span>
                </a>
            </li>
<!--            Setting 메뉴의 역할이 명확하지 않아서 주석처리-->
<!--            <li class="sidebar-item" th:classappend="${currentPath == '/settings'} ? 'active'">-->
<!--                <a class="sidebar-link" href="/settings">-->
<!--                    <i class="align-middle" data-feather="settings"></i>-->
<!--                    <span class="align-middle">Settings</span>-->
<!--                </a>-->
<!--            </li>-->
        </ul>
    </div>
</nav>