<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{layouts/layout}">

<head>
	<title>회원정보 수정 | Lucky Seven</title>
	<link href="/css/profile.css" rel="stylesheet"/>
</head>

<body>
<div layout:fragment="content">
	<div class="profile-wrapper">
		<div class="profile-card">
			<form class="profile-section" method="post" action="/edit-profile">
				<div class="profile-row">
					<div class="profile-label">이름</div>
					<input type="text" class="profile-input" name="userName" th:value="${user.userName}" readonly>
				</div>
				<hr>
				<div class="profile-row">
					<div class="profile-label">이메일</div>
					<input type="email" class="profile-input" name="userEmail" th:value="${user.userEmail}" readonly>
				</div>
				<hr>
				<div class="profile-row">
					<div class="profile-label">부서</div>
					<input type="text" class="profile-input" name="userDepartment" th:value="${user.userDepartment}">
				</div>
				<hr>
				<div class="profile-row">
					<div class="profile-label">휴대전화번호</div>
					<input type="tel" class="profile-input" name="userPhone" th:value="${user.userPhone}" readonly>
				</div>
				<hr>
				<div class="profile-row">
					<div class="profile-label">현재 비밀번호</div>
					<div class="input-wrapper">
						<input type="password" class="profile-input" name="currentPassword" placeholder="현재 비밀번호를 입력하세요" required>
						<span class="password-eye-container"></span>
					</div>
				</div>
				<hr>
				<div class="profile-row">
					<div class="profile-label">새 비밀번호</div>
					<div class="input-wrapper">
						<input type="password" class="profile-input" name="newPassword" placeholder="새 비밀번호 (변경 시)">
						<span class="password-eye-container"></span>
					</div>
				</div>
				<hr>
				<div class="profile-row">
					<div class="profile-label">비밀번호 확인</div>
					<div class="input-wrapper">
						<input type="password" class="profile-input" name="confirmPassword" placeholder="비밀번호 확인">
						<span class="password-eye-container"></span>
					</div>
				</div>
				<hr>
				<button type="submit" class="btn-block btn-save">저장</button>
				<a href="/profile" class="btn-block btn-cancel">취소</a>
			</form>
		</div>
	</div>
</div>

<script src="/js/auth_eye.js"></script>
</body>
</html>
