<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="utf-8"/>
    <title>Lucky Seven MainPage | Lucky Seven</title>
    <link href="/css/index.css" rel="stylesheet"/>
    <link href="/css/common.css" rel="stylesheet"/>
    <link href="/css/dashboard/panel-list.css" rel="stylesheet"/>

    <script>
        // window 에 유저 저장
        try {
            let userResponse = await fetch("https://luckyseven.live/api/users/me", {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include'
            });
            let user = await userResponse.json();

            let imageResponse = await fetch(`https://luckyseven.live/api/images/${user.userEmail}`, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
                credentials: 'include'
            });
            let image = await imageResponse.json();

            document.currentUser = {
                userRole: user.userRole,
                userNo: user.userNo,
                userName: user.userName,
                userEmail: user.userEmail,
                userPhone: user.userPhone,
                department: user.department,
                eventLevelResponse: user.eventLevelResponse,
                image: image
            };
        } catch (error) {
            console.error("유저 데이터 가져오기 실패:", error);
        }

        // JSP에서 전달된 dashboardTitle을 JS 변수로 전달
        var dashboardTitle = "${dashboardTitle}";
    </script>

    <script src="/js/chart.js"></script>
    <script src="/js/chartjs-plugin-datalabels.js"></script>
    <script src="/js/ai-main.js" defer></script>
    <script src="/js/dashboard/panel-list.js"></script>
</head>

<body>
<section layout:fragment="content">

    <!-- 기존 콘텐츠 -->
    <h1>최신 AI 분석 결과</h1>
    <div id="latest-ai-chart-container"></div>

    <!-- panel-list 콘텐츠 삽입 -->
    <main class="panel-info-container">
        <section class="panel-info-header">
            <h1 id="dashboardTitle">차트 내역</h1>
        </section>

        <div id="panelList" class="panel-grid">
        </div>
    </main>

</section>
</body>
</html>
