<!DOCTYPE html>

<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>LUCKY SEVEN WELCOME PAGE</title>
    <link href="/css/welcome.css" rel="stylesheet"/>
    <link href="https://" rel="preconnect"/>
    <link crossorigin="" href="https://" rel="preconnect"/>
    <link href="https:///css2?family=Limelight&amp;display=swap" rel="stylesheet"/>
    <link href="https:///css2?family=Rakkas&amp;display=swap" rel="stylesheet"/>
    <link href="https:///css2?family=Do+Hyeon&amp;display=swap" rel="stylesheet"/>
</head>
<body>
<div class="welcome-container">
    <!-- 광선검 효과 -->
    <div class="lightsaber"></div>
    <!-- 로고 컨테이너 -->
    <div class="logo-container">
        <div class="lucky-text">LUCKY SEVEN</div>
        <div class="page-text">MAIN PAGE</div>
        <div class="korean-text">럭키세븐 페이지</div>
    </div>
</div>
<script src="/js/welcome.js"></script>
</body>
</html>